# Django Core
SECRET_KEY="pyaa-secret-key-change-me"
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

# Database
DATABASE_URL="sqlite:///db/db.sqlite3"

# Email
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
DEFAULT_FROM_EMAIL="webmaster@localhost"
DEFAULT_TO_EMAIL="webmaster@localhost"

# AWS S3 Storage
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""
AWS_REGION=""

# Media
APP_MEDIA_URL="/media/"

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Recaptcha
RECAPTCHA_PUBLIC_KEY=""
RECAPTCHA_PRIVATE_KEY=""
